<?xml version="1.0"?>

<model>
  <name>Custom Shape Model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Karthikeyan B</name>
    <email>karthikn.balasubramanian@gmail.com</email>
  </author>

  <description>
    A Custom Shape - Cylinder on top of a Box
  </description>
</model>
